<div class="loading" ng-show="dataLoading"></div>
<div class="wow fadeInDown">
    <h2>Cambiar contrase&ntilde;a</h2>
</div>
<div class="blog">
    <div class="row admin-wrap">
        <div class="col-sm-12">
            <div class="alert alert-{{msgClass}} text-center" role="alert" ng-show="msg">{{msg | uppercase}}</div>
            <form class="form-horizontal" ng-submit="changePassword()" id="changePassForm" name="changePassForm">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="w_password">Contraseña Anterior *</label>  
                    <div class="col-md-6">
                        <input id="w_password" name="w_oldPassword" ng-model="w_oldPassword" type="password" placeholder="" class="form-control input-md" required="required"/>
                        <p ng-show="changePassForm.w_oldPassword.$error.required && changePassForm.w_oldPassword.$touched" class="help-block">La contraseña anterior es obligatoria.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="w_password">Contraseña Nueva *</label>  
                    <div class="col-md-6">
                        <input id="w_password" name="w_newPassword" ng-model="w_newPassword" type="password" placeholder="" class="form-control input-md" required="required" ng-pattern="passwordPattern"/>
                        <p ng-show="changePassForm.w_newPassword.$error.required && changePassForm.w_newPassword.$touched" class="help-block">La contraseña nueva es obligatoria.</p>
                        <p ng-show="changePassForm.w_newPassword.$error.pattern && changePassForm.w_newPassword.$touched" class="help-block">Minimo 8 caracteres. Por lo menos 1 letra mayuscula, 1 letra miniscula y 1 n&uacute;mero.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="w_confirmpass">Confirmar Contraseña Nueva *</label>  
                    <div class="col-md-6">
                        <input id="w_confirmpass" name="w_confirmpass" ng-model="w_confirmpass" type="password" data-confirm-password="w_newPassword" class="form-control input-md" required="required">
                        <p ng-show="changePassForm.w_confirmpass.$invalid && changePassForm.w_confirmpass.$touched" class="help-block">Las contrase&ntilde;as no coinciden.</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="w_tokenCambioPass" ng-model = "w_tokenCambioPass" value="<?php echo $_GET['tokenCambioPass']; ?>" />
                    <label class="col-md-4 control-label" for="submitChangePass"></label>
                    <div class="col-md-4">
                        <button id="submitChangePass" name="submitChangePass" class="btn btn-primary" ng-disabled="changePassForm.$invalid || dataLoading">Cambiar Contraseña</button>
                    </div>
                </div>
            </form>                   
        </div>
    </div><!--/.row-->
</div>

